*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.galery{
    width: 90%;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: auto;
}



.galery .category_btn{
    display: flex;
    flex-direction: column;
    width: calc((100 / 6) * 1%);
}





.galery .category_container{
    width: 100%;
    background-color: green;
    height: 100px;
    overflow-x: hidden;
   
}

.galery .category_container .category_img{
    width: 100px;
    height: 100px;
    position: relative;
}

.galery .category_container .category_img .img{
   --left: 0;
   --width: 0;
   width: calc(var(--width) * 1px);
    height: 100%;
    position: absolute;
    left: calc(var(--left) * 1%);
    background-color: pink;
    border: 1px solid black;
}


.galery .category_container .arrow{
   position: absolute;
   top: 10
   px;
   left: 50%;
   transform: translateX(-50%);
   z-index: 10;
}

/* .galery .category_container .category_img .img img{
    width: 100%;
    height: 100%;
} */